body{
	margin:40px auto;
	max-width:650px;
	line-height:1.6;
	font-size:18px;
	color:#444;
	padding:010px
	}
	h1,h2,h3{line-height:1.2}


#charset "utf-8"

#btnOpen {
	height: 50px;
	width: 300px;
	background: #e74c3c;
	color: #ffffff;
	font-family: hevetica;
	font-size: 30px;
	border: none;
	cursor: pointer;
}
#btnClose{
	height: 50px;
	width: 300px;
	background: #e74c3c;
	color: #ffffff;
	font-family: hevetica;
	font-size: 30px;
	border: none;
	cursor: pointer;
}
.popup{
	margin: 20% auto;
	width: 70px;
	height:100px;
	background-color: rgb(228, 228, 228);
}